<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Black Jack</title>
        <link rel="stylesheet" href="/blackjack.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="container">
          <h2>Dealer: <span id="dealer-sum"></span></h2>
        <div id="dealer-cards">
        </div>

        <h2>You: <span id="your-sum"></span></h2>
        <div id="your-cards"></div>

        <br>
        <div id="buttons">
          <button id="hit">Hit</button>
          <button id="stay">Stay</button>
        </div>
          <div class="result">
            <p id="results"></p>
          </div>
        </div>
      
<!--      <form action="/bet" method="post" id="signform">
        <label for="password">Bet Amount:</label><br>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
    </body>
  -->
</html>
<script src="/blackjack.js"></script>