<!DOCTYPE html>
<html>
<head>
  <title>Hustlers Haven</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div id="title"><h1>Hustler's Haven</h1>
    <a href="usersettings"><%= username %></a>
  </div>
  <div style="height: 3px; width: 100%; background-color: red;"></div>
  <div id="container">
    <div id="links">
      <a href="slot"><p>Slot Machine</p><img src="/img/slot.jpg"></a>
      <a href="blackjack"><p>Blackjack</p><img src="/img/bj.jpg"></a>
    </div>
  </div>
  
</body>
</html>