<!DOCTYPE html>
<html>
<head>
	<title>Slot Machine</title>
	<link rel="stylesheet" type="text/css" href="/slot.css">
</head>
<body>
	<h1>Slot Machine</h1>
	<div id="slot-machine">
		<div class="slot-container">
			<div id="slot1" class="slot"></div>
			<div id="slot2" class="slot"></div>
			<div id="slot3" class="slot"></div>
		</div>
		<button id="spin-button">Spin</button>
	</div>
	<script src="/slot.js"></script>
</body>
</html>
