<!DOCTYPE html>
<html>
<head>
  <title>User Settings</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <p>Signed in as: <%= username %></p>
    <form action="/signout" method="post">
      <button>Sign Out</button>
    </form>
</body>
  <script>
</script>

</html>